body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top_banner {
    display: flex;
    padding-top: 70px;
}
.text_area_top_banner {
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
}

.text_area_top_banner h1 {
    font-size: 90px;
    margin: 0px 0px ;
}

.highlight {
    color: orange;
}

.text_area_top_banner p {
    width: 60%;
    margin-bottom: 60px;
}

.text_area_top_banner a {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(orange, red);
    border-radius: 50px;
    color: #ffffff;
    font-size: 30px;
}
.pic_area_top_banner {
    width: 50%;
}
.pic_area_top_banner img {
    width: 80%;
}

