body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



.top_banner {
    display: flex;
    padding: 70px 0px;
}
.text_area_top_banner {
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
}

.text_area_top_banner h1 {
    font-size: 90px;
    margin: 0px 0px ;
}

.highlight {
    color: orange;
}

.text_area_top_banner p {
    width: 60%;
    margin-bottom: 70px;
}

.text_area_top_banner a {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(orange, red);
    border-radius: 50px;
    color: #ffffff;
    font-size: 30px;
}
.pic_area_top_banner {
    width: 50%;
}
.pic_area_top_banner img {
    width: 80%;
}










.middle1_banner {
    background-image: url(food-network/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    height: 793px;
    
}

.pic_area_middle1_banner {
    width: 50%;
    height: auto;
    overflow: hidden;
    
}


.text_area_middle1_banner {
    width: 50%;
    padding: 100px 0px;
    margin-left: 15px;
}

.pic_area_middle1_banner img {
    width: 51%;
    
    margin: 30px 20px 0 300px;
}




.text_area_middle1_banner h1 {
    font-size: 60px;
    margin: 0px 0px ;
    color: grey;
    padding-bottom: 100px;
}

.text_area_middle1_banner p {
    width: 60%;
    margin-bottom: 70px;
    padding-bottom: 60px;
}

.text_area_middle1_banner a {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(rgb(245, 179, 57), rgb(252, 69, 69));
    border-radius: 50px;
    color: #ffffff;
    font-size: 30px;
}